<!-- templates/home.html -->
<html>

<head>
    <title>Home Page - Sling Academy</title>
</head>

<body style="padding: 30px">
    <!-- Display variables passed from Python code -->
    <h3>The current time is <text id="curr_time"></text></h3>
    <h1 id="metrics_str"><h3>
</body>
<script>
function catch_date(){
    fetch('/metrics1')
            .then(function (response) {
                return response.text();
            }).then(function (text) {
            temp = JSON.parse(text)
            document.getElementById('metrics_str').textContent = temp.metrics;
            document.getElementById('curr_time').textContent = temp.current_time.abc;
        });
}
catch_date()
var i = 1;

function myLoop() {
  setTimeout(function() {
    catch_date();//  your code here
    i++;                    //  increment the counter
    if (true) {           //  if the counter < 10, call the loop function
      myLoop();
    }
  }, 1000)
}

myLoop();
</script>
</html>